<h2>新規登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :username, "ユーザー名" %></p>
    <p><%= f.text_field :username, placeholder: "ユーザー名を入力", autofocus: true %></p>
  </div>

  <div class="field">
    <p><%= f.label :email, "メールアドレス" %></p>
    <p><%= f.email_field :email, placeholder: "メールアドレスを入力", autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password, "パスワード" %></p>
    <% if @minimum_password_length %>
      <p><em>(<%= @minimum_password_length %> 文字以上)</em></p>
    <% end %>
    <p><%= f.password_field :password, placeholder: "パスワードを入力", autocomplete: "new-password" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation, "確認用パスワード" %></p>
    <p><%= f.password_field :password_confirmation, placeholder: "確認用パスワードを入力", autocomplete: "new-password" %></p>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
