<%= form_with(model: prep_task) do |form| %>
  <% if prep_task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prep_task.errors.count, "error") %> prohibited this prep_task from being saved:</h2>

      <ul>
        <% prep_task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :prep_date, "日付", style: "display: block" %>
    <%= form.date_field :prep_date %>
  </div>

  <div>
    <%= form.label :title, "仕込み名", style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :target_qty, "指示量", style: "display: block" %>
    <%= form.text_field :target_qty %>
  </div>
  
  <div>
    <%= form.label :actual_qty,"実績量", style: "display: block" %>
    <%= form.text_field :actual_qty %>
  </div>

  <div>
    <%= form.label :comment, "コメント", style: "display: block" %>
    <%= form.textarea :comment %>
  </div>

  <div>
    <%= form.label :completed, "実施", style: "display: block" %>
    <%= form.checkbox :completed %>
  </div>

  <div>
    <%= form.submit "登録" %>
  </div>
<% end %>
