<div id="<%= dom_id prep_task %>">
  <div>
    <strong>User:</strong>
    <%= prep_task.user_id %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= prep_task.title %>
  </div>

  <div>
    <strong>Target qty:</strong>
    <%= prep_task.target_qty %>
  </div>

  <div>
    <strong>Actual qty:</strong>
    <%= prep_task.actual_qty %>
  </div>

  <div>
    <strong>Prep date:</strong>
    <%= prep_task.prep_date %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= prep_task.comment %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= prep_task.completed %>
  </div>

</div>
