<div id="<%= dom_id prep_task %>">

  <div>
    <strong>日付</strong>
    <%= prep_task.prep_date %>
  </div>

  <div>
    <strong>仕込み名</strong>
    <%= prep_task.title %>
  </div>

  <div>
    <strong>指示量</strong>
    <%= prep_task.target_qty %>
  </div>
  
  <div>
    <strong>実績量</strong>
    <%= prep_task.actual_qty %>
  </div>

  <div>
    <strong>コメント</strong>
    <%= prep_task.comment %>
  </div>

  <div>
    <strong>実施</strong>
    <%= prep_task.completed ? "済" : "未" %>
  </div>

  <div>
    <strong>担当者</strong>
    <%= prep_task.staff.username if prep_task.staff %>
  </div>
</div>
